<article>
  <h1><%= @restaurant.name %></h1>
  <hr>
  <p><%= @restaurant.address %></p>
</article>

<div class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <p class= "list-group-item list-group-item-action">
      <%= review.content %> -
      <%= '⭐️' * review.rating %>
    </p>
  <% end %>
</div>

<!-- the below can be added to embed the add review form inside the show page -->
<!-- <div>
  <%#= simple_form_for [@restaurant, @review] do |f| %>
  <%#= f.input :content %>
  <%#= f.input :rating %>
  <%#= f.submit class: "btn btn-sm btn-outline-secondary" %>
  <%# end %>
</div> -->

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-sm btn-outline-secondary" %>
  <%= link_to "List", restaurants_path, class: "btn btn-sm btn-outline-secondary" %>
</div>
