<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <%= link_to "Restaurants", restaurants_path, class: "navbar-brand" %>
      <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-sm btn-outline-secondary" %>
    </nav>
    <div class="container mb-3">
      <%= yield %>
    </div>
  </body>
</html>
